{% extends 'navbar.html' %}

{% load static %}
{% load crispy_forms_tags  %}
<link rel="stylesheet" href="{%  static 'css/style.css' %}" />
{% block content %}

<div id="spinner-box">
    <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

{% block title %}

<h3> posts  </h3>

<!--
{% for blog in blogs  %}
<li>
<ul>
<h4> <strong>{{ blog.body }} </strong> </h4>  <br>

 <ul> {{ blog.created_date }}  {{ blog.modified_date }} -&#45;&#45; {{ blog.author }}  </ul>
 <br>
</ul>
</li>

{% endfor %}
-->
<!-- Modal -->
<div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">create post</h5>
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body">
          <form id="post-form" action="" method="post">
                 {% csrf_token %}
                   {{ form|crispy }}
                   <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">+ Add</button>
                   </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addPostModal">
  create
</button>

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">create post</h5>-->
<!--&lt;!&ndash;        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>&ndash;&gt;-->
<!--      </div>-->
<!--         </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div id="post-edit-box"></div>-->

{% endblock title %}
<div id="posts-box"></div>
<div class="text-center mb-3" id="end-box">
   <button class="btn btn-primary" id="load-btn">Load More</button>
</div>
<div id="hello-world"></div>


{% endblock content %}
